<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.GenZongMapper">
	<!-- 分页显示所有 -->
	<select id="selectGenZong" parameterType="fenye" resultType="network_trace">
		 SELECT *
			  FROM `network_trace` 
			    <where>
             <if test="network_trace.searchn_sname!=null and network_trace.searchn_sname!=''">
                and n_sname like "%"#{network_trace.searchn_sname}"%"
             </if>
             <if test="network_trace.searchn_address!=null and network_trace.searchn_address!=''">
                and n_address like "%"#{network_trace.searchn_address}"%"
             </if>
             <if test="network_trace.searchn_qingkuang!=null and network_trace.searchn_qingkuang!=''">
                and n_qingkuang like "%"#{network_trace.searchn_qingkuang}"%"
             </if>
             <if test="network_trace.searchn_fangshi!=null and network_trace.searchn_fangshi!=''">
                and n_fangshi like "%"#{network_trace.searchn_fangshi}"%"
             </if>
             
             <if test="network_trace.searchstartTime!=null and network_trace.searchstartTime!=''">
                and n_date &gt; #{network_trace.searchstartTime}
             </if>
             <if test="network_trace.searchendTime!=null and network_trace.searchendTime!=''">
                and n_date &lt; #{network_trace.searchendTime}
             </if>
         </where>
          ORDER BY network_trace.n_id DESC
         limit #{page},#{pageSize}
	</select>
	<!-- 查询数量 -->
	<select id="count" parameterType="fenye" resultType="int">
		select count(n_id) from network_trace
         <where>
             <if test="network_trace.searchn_sname!=null and network_trace.searchn_sname!=''">
                and n_sname like "%"#{network_trace.searchn_sname}"%"
             </if>
             <if test="network_trace.searchn_address!=null and network_trace.searchn_address!=''">
                and n_address like "%"#{network_trace.searchn_address}"%"
             </if>
             <if test="network_trace.searchn_qingkuang!=null and network_trace.searchn_qingkuang!=''">
                and n_qingkuang like "%"#{network_trace.searchn_qingkuang}"%"
             </if>
             <if test="network_trace.searchn_fangshi!=null and network_trace.searchn_fangshi!=''">
                and n_fangshi like "%"#{network_trace.searchn_fangshi}"%"
             </if>
             
             <if test="network_trace.searchstartTime!=null and network_trace.searchstartTime!=''">
                and n_date &gt; #{network_trace.searchstartTime}
             </if>
             <if test="network_trace.searchendTime!=null and network_trace.searchendTime!=''">
                and n_date &lt;#{network_trace.searchendTime}
             </if>
         </where>
	</select>
	<!-- 跟踪 -->
	<insert id="Addgenzong" parameterType="network_trace">
		INSERT INTO network_trace(n_sname,uname,n_date,n_ask,n_aftertime,uid,n_qingkuang,n_fangshi,sid) 
		      VALUES(#{n_sname},#{uname},#{n_date},#{n_ask},#{n_aftertime},#{uid},#{n_qingkuang},#{n_fangshi},#{sid})
	</insert>
</mapper>