<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.crm.dao.NetGenzongMapper">
 <!-- 查询网络跟踪信息 -->
 <select id="selectNetGenzong" parameterType="fenye" resultType="network_trace">
SELECT * from network_trace
    <where>
    uname=#{network_trace.uname} 
             <if test="network_trace.n_sname!=null and network_trace.n_sname!=''">
                and n_sname like "%"#{network_trace.n_sname}"%"
             </if>
             <if test="network_trace.n_qingkuang!=null and network_trace.n_qingkuang!=''">
                and n_qingkuang like "%"#{network_trace.n_qingkuang}"%"
             </if>
             <if test="network_trace.n_fangshi!=null and network_trace.n_fangshi!=''">
                and n_fangshi=#{network_trace.n_fangshi}
             </if>
             
             <if test="network_trace.searchstartTime!=null and network_trace.searchstartTime!=''">
                and n_date &gt; #{network_trace.searchstartTime}
             </if>
             <if test="network_trace.searchendTime!=null and network_trace.searchendTime!=''">
                and n_date &lt; #{network_trace.searchendTime}
             </if>
         </where>
         ORDER BY n_id DESC
          limit #{page},#{pageSize}
 </select>
 <!-- 查询网络跟踪数量 -->
 <select id="countNetzong" parameterType="fenye" resultType="int">
 SELECT COUNT(*) from network_trace where uname=#{network_trace.uname} 
 </select>
 <!--添加网络跟踪  -->
 <insert id="addNetGenzong" parameterType="network_trace">
 INSERT into network_trace(n_sname,uname,n_date,n_ask,n_aftertime,n_qingkuang,n_fangshi) 
 VALUES(#{n_sname},#{uname},#{n_date},#{n_ask},#{n_aftertime},#{n_qingkuang},#{n_fangshi})
 </insert>
 <!-- 跟踪是否重名 -->
 <select id="selectNetName" parameterType="network_trace" resultType="network_trace">
 SELECT * from network_trace where n_sname=#{n_sname}
 </select>
 </mapper>