<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.RoleModulesMapper">
	<resultMap type="modules" id="modul">
		<id property="id" column="mid" />
		<result property="text" column="ModuleName" />
		<result property="url" column="Path" />
		<result property="Weight" column="Weight" />
		<result property="ParentId" column="ParentId" />
	</resultMap>
	<!-- 根据用名称户查询所有的父模块 -->
	<select id="selectModules" parameterType="string" resultMap="modul">
		SELECT m.* from users u,roles r,modules m,userroles ur,rolemodules rm
		WHERE u.uid=ur.UserId and r.rid=ur.RoleId and r.rid=rm.RoleId and
		m.mid=rm.ModuleId and u.LonginName=#{LonginNmae} AND m.mid in (SELECT
		ModuleId
		FROM rolemodules) GROUP BY m.mid;
	</select>
	<!-- 根据用户名称和父模块id查询下面所属父模块的子模块 -->
	<select id="selectModulesSubmodule"
		resultMap="modul">
		SELECT m.* from users u,roles r,modules m,userroles
		ur,rolemodules rm WHERE u.uid=ur.UserId and r.rid=ur.RoleId and
		r.rid=rm.RoleId and m.mid=rm.ModuleId AND rm.ModuleId in (SELECT
		ModuleId FROM rolemodules) and m.ParentId=#{0} and u.LonginName=#{1} GROUP BY moduleid;

	</select>
	<!-- 根据用户名查询用户 -->
	<select id="selectUser" parameterType="string" resultType="users">
		select * from users where longinName=#{loginName}
	</select>
</mapper>